<ion-header>
  <ion-navbar>
    <ion-row style="display: flex; align-items: center;margin: 0px 10px;">
      <ion-title>LoggiBox</ion-title>
      <img
        src="../../assets/img/logo4.png"
        alt=""
        width="50"
      />
  </ion-row>
  </ion-navbar>
</ion-header>

<ion-content>
  <!--
    <ion-searchbar (ionInput)="getItems($event)" placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}"></ion-searchbar>
  -->
  <!--
    <ion-list>
      <button ion-item (click)="openItem(item)" *ngFor="let item of currentItems">
        <ion-avatar item-start>
          <img [src]="item.profilePic" />
        </ion-avatar>
        <h2>{{item.name}}</h2>
        <p>{{item.about}}</p>
        <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
      </button>
    </ion-list>
  -->

  <ion-item>
    <h2 class="sub-title">Entregas Disponiveis</h2>
  </ion-item>
  <ion-item>
    <ion-list>
      <ion-card style=" background-color: lightgray" (click)="detailsPackage()">
        <ion-item>
          <ion-row class="item-line">
            <ion-col col-3>
              <ion-avatar item-start>
                <img
                  src="http://icons.iconarchive.com/icons/custom-icon-design/pretty-office-3/256/Package-Accept-icon.png"
                />
              </ion-avatar>
            </ion-col>
            <ion-col col-6>
              <h2>Av. Paulista, 1340</h2>
              <small>40 minutos</small>
            </ion-col>
            <ion-col col-3>
              <h2 style="font-weight: bold;">R$ 7,98</h2>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-card>
    </ion-list>
  </ion-item>
</ion-content>
