<ion-header>
  <ion-navbar>
    <ion-row style="display: flex; align-items: center;margin: 0px 10px;">
        <ion-title>LoggiBox</ion-title>
        <img
          src="../../assets/img/logo4.png"
          alt=""
          width="50"
        />
    </ion-row>

    <!-- <ion-title>{{ "LIST_MASTER_TITLE" | translate }}</ion-title> -->

    <!-- <ion-buttons end> -->
    <!--
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    -->

    <!-- </ion-buttons> -->
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item>
    <h2 style="margin-left: 10px; color: orange;">Lista de Entregas</h2>
  </ion-item>
  <ion-item class="list" style="background-color: #00BAFF;">
    <ion-list>
      <ion-card>
        <ion-item>
          <ion-row class="item-line">
            <ion-col col-3>
              <ion-avatar item-start>
                <img
                  src="http://icons.iconarchive.com/icons/custom-icon-design/pretty-office-3/256/Package-Accept-icon.png"
                />
              </ion-avatar>
            </ion-col>
            <ion-col col-6>
              <h2>
                Alameda Santos, <br />
                1340
              </h2></ion-col
            >
            <ion-col col-3>
              <h2 style="font-weight: bold;">R$ 7,98</h2>
              <small>Recompensa</small>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-card>
    </ion-list>
  </ion-item>

  <!--
    <ion-row>
      <ion-col [size]="2">
        <ion-img src="/assets/myImg.png"></ion-img>
      </ion-col>
      <ion-card-header>
        <ion-card-title>Hello World</ion-card-title>
      </ion-card-header>
      <ion-card-content> <p>The content for this card</p> </ion-card-content>
    </ion-row>
  -->

  <!--
    <ion-list>
      <ion-item-sliding *ngFor="let item of currentItems">
        <button ion-item (click)="openItem(item)">
          <ion-avatar item-start>
            <img [src]="item.profilePic" />
          </ion-avatar>
          <h2>{{item.name}}</h2>
          <p>{{item.about}}</p>
          <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
        </button>

        <ion-item-options>
          <button ion-button color="danger" (click)="deleteItem(item)">
            {{ 'DELETE_BUTTON' | translate }}
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  -->
</ion-content>
