page-list-master {
  background-color: #00baff;
}

.item-line {
  display: flex;
  align-items: center;
}
ion-title{
  font-family: Open sans;
  font-weight: bold !important;
  color: #448FFB !important;
  text-align: center;
}
.toolbar-title-md{
  font-weight: bold !important;
  color: #448FFB !important;
}